<!-- <div class="footer">
    <p>Footer</p>
  </div> -->
<section id="lower-footer">
  <div class="container">
    <div class="row">
      <span class="col-md-12">
        <!--left text-->
        <span class="col-md-6">
          <span class="left-text pad"> &copy; 2019 Bibhu Prasad Sahu. </span>
        </span>
        <!--Right menu-->
        <span class="col-md-6">
          <span class="pull-right pad">
            <ul class="menu">
              <li> <a href="#"> HOME </a> </li>
              <li> <a href="#"> PRODUCT </a> </li>
              <li> <a href="#">CONTACT US</a> </li>
              <li> <a href="#">ABOUT US</a> </li>
            </ul>
          </span>
        </span>
      </span>
    </div>
  </div>
</section>