<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-2">
            <h3>UPDATE PASSWORD</h3>
            <form>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Old Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Password *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="UPDATE" style="margin-left: 120px;margin-top: 40px"/>
                </div>
                
            </form>
        </div>
    </div>
</div>