
<!-- <span style="text-align: center">
<h2>Enter Your Login and Logout Time</h2>
<form style="text-align: center">
<h3 style="color: green"> Login Time </h3><input type="time" atp-time-picker value="" name="login"/><br>
<h3 style="color: rebeccapurple">Logout Time </h3><input type="time" atp-time-picker value="" name=""/><br>
<button type="button" class="btn btn-primary btn-lg" style="margin-top: 20px; width:200px">LOG</button>
</form>
</span> -->

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-2">
            <h3>Enter Your Login and Logout Time</h3>
            <form>
                <div class="form-group">
                    <h3> Login Time <input type="time" atp-time-picker value="" name="login" /></h3>
                    <h3> Logout Time <input type="time" atp-time-picker value="" name="logout" /></h3>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="LOG" style="margin-left: 120px;margin-top: 36px"/>
                </div>
                
            </form>
        </div>
    </div>
</div>